# ======================
# Node / Expo / React Native
# ======================
node_modules/
.expo/
.expo-shared/
npm-debug.*
yarn-debug.log*
yarn-error.log*

# Metro / Expo cache
.expo/
.expo-shared/
.expo-cache/
.expo/packager-info.json
.expo/packager-info.log
.expo/dev-tools-info.json

# Logs
*.log

# Misc
.DS_Store
Thumbs.db

# ======================
# iOS
# ======================
# Ignore generated build files
ios/*
!ios/DepthCaptureModule.swift
!ios/Podfile
!ios/Podfile.lock

Pods/
build/
DerivedData/

# ======================
# Android
# ======================
android/
*.keystore
*.jks
*.iml
.gradle/
local.properties

# ======================
# Expo Web
# ======================
web-build/
dist/
.expo/
.expo-shared/
.expo-dev-client/
